		<div class="col-md-8" id="divTotalReparto">
			<h5 class="text-left text-dark"><strong>Total del reparto</strong></h5>

			<table class="table table-sm">
			    <thead class="thead-dark">
				    <tr>
				        <th class="text-center">Código Producto</th>
				        <th>Descripción</th>
				        <th class="text-center">Cantidad</th>
				    </tr>
			    </thead>
			    <tbody id="tbodyTablaTotalReparto">
			    	{% if totalReparto %}
			    		{# loop por cada linea del total reparto - id="tablaId" #}
						{% for totrep in totalReparto %}
						    <tr>
						        <td class="text-center">{{ totrep.IdProducto }}</td>
						        <td>{{ totrep.producto }}</td>
						        <td class="text-center">{{ totrep.sumaCant }}</td>
						    </tr>
			    		{% endfor %}
			    	{% endif %}
				    <tr>
				      <td></td>
				      <td></td>
				      <td></td>
				    </tr>
			  </tbody>
			</table>
		</div>
