{# Muestra cartel enviado datos y spinner en forms #}

	<div id="enviando">
		<div class="col align-self-center">
			<div class="d-flex align-items-center ml-4 mr-4" id="spinner">
				<strong>Enviando datos...</strong>
				<div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
			</div>
		</div>
	</div>
