      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand" href="#">
          <img src="{{ base_url() }}/img/logo-cesarini.png" width="80" height="40" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="#" role="button">
                Repartos
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" role="button">
                Cuentas Corrientes
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                Clientes
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" role="button">
                Productos
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" role="button" >
                Tablas
              </a>
            </li>
          </ul>
        </div>
      </nav>