{# Navbar simple con solo opción de Salir #}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="{{ path_for('home') }}">
      <img src="{{ base_url() }}/img/logo-cesarini.png" width="80" height="40" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
		    <li class="nav-item active">
	        	<a class="nav-link" href="{{ path_for('home') }}">Salir</a>
		    </li>
    	</ul>
    </div>
</nav>	